html {
  font-size: 70%;
}

/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */

.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

nav {
  position: fixed;
  margin-bottom: -8vw;
  width: 100%;
  z-index: 2;
}

.hambi {
  display: none;
}

.upper-nav-bar {
  display: grid;
  grid-template-columns: [start] 10vw [logostart] 55vw [logoend] 25vw [searchend] 10vw [end];
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 2rem;
  color: white;
  font-weight: normal;
}

.opening-hours {
  grid-column: logostart / logoend;
  text-align: left;
}

.account {
  grid-column: logoend / searchend;
  text-align: end;
}

.account a {
  text-decoration: none;
  color: white;
}

.lower-nav-bar {
  display: grid;
  grid-template-columns: [start] 10vw [logostart] 25vw [logoend] 51vw [searchstart] 4vw [searchend] 10vw [end];
  font-size: 2rem;
  color: white;
  font-weight: normal;
  border-top: 1px solid white;
}

.logo-container {
  grid-column: logostart / logoend;
}

.logo {
  max-width: 20rem;
  padding-top: 1.2rem;
  padding-left: 3.5rem;
  text-align: center;
}

.search-bar {
  grid-column: searchstart / searchend;
  padding-top: 2rem;
  text-align: end;
}

.search-bar a {
  color: white;
  justify-content: flex-end;
}

.menu-container {
  grid-column: logoend / searchstart;
  text-align: end;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-item a {
  display: flex;
  text-decoration: none;
  color: white;
  height: 2rem;
}

.menu-item:hover {
  background-color: rgba(227, 230, 238, 0.3);
  transition: background-color 1s ease-out;
  border-top: 4px solid rgb(44, 112, 90);
  border-radius: 50%;
}

.darken1 {
  background-color: rgb(44, 112, 90);
}

.darken2 {
  background-color: rgb(23, 146, 107);
  opacity: 95%;
}

/* banner  */

.banner-image {
  width: 100%;
  height: 48vw;
  object-fit: cover;
  object-position: 100% 0;
  filter: brightness(50%);
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.main-logo {
  position: absolute;
  max-width: 20rem;
  height: 10rem;
  padding-top: 1rem;
  color: white;
  z-index: 1;
  top: 18vw;
}

.welcome-text {
  position: absolute;
  z-index: 1;
  top: 27vw;
}

.welcome-text h1 {
  font-size: 4rem;

  /* font-weight: lighter; */
  color: white;
}

.order-button {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 38vw;
  right: calc(50% - 125px);
  width: 250px;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: normal;
  font-variant: small-caps;
  border-radius: 40px;
  background-color: rgb(67, 236, 67);
  box-shadow: 0 0 22px -1px rgba(0, 0, 0, 0.75);
}

.order-button a {
  text-decoration: none;
  color: white;
}

/* középső rész */

h2 {
  text-align: center;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
  padding-bottom: 1vw;
}

.offer-title p {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: normal;
  padding: 0 20vw 2vw 20vw;
}

.offer-container {
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
}

.offer1-container,
.offer2-container,
.offer3-container {
  display: block;
  width: 20vw;
  background-color: white;
  margin: 2vw;
  text-align: center;

  /* box-shadow: 0, 0, 15px, 15px, red; */
}

.offer1-container > i,
.offer2-container > i,
.offer3-container > i {
  font-size: 4rem;
  padding-top: 5vw;
}

.offer1-container > h3,
.offer2-container > h3,
.offer3-container > h3 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(22, 119, 22);
}

.offer1-container > p,
.offer2-container > p,
.offer3-container > p {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(22, 119, 22);
  padding: 3vw;
}

/* záró rész */

.bye-pic-container {
  width: 100%;
  height: 25vw;
  overflow: hidden;
}

.bye-pic {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  object-position: 50% 50%;
}

footer {
  font-size: 1.5rem;
  padding-top: 2vw;
  padding-bottom: 5vw;
  text-align: center;
  margin-top: 20px;
}

/* responsivity */

@media (max-width: 1000px) {
  .menu-container {
    display: none;
  }

  .upper-nav-bar {
    grid-template-columns: [start] 10vw [logostart] 51vw [logoend] 23vw [hambistart] 6vw [hambiend] 10vw [end];
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2rem;
    color: white;
    font-weight: normal;
  }

  .opening-hours {
    grid-column: logostart / logoend;
    text-align: left;
  }

  .account {
    grid-column: logoend / hambistart;
    text-align: end;
  }

  .hambi {
    display: block;
    grid-column: hambistart / hambiend;
    text-align: end;
  }

  .hambi a {
    opacity: 0%;
  }

  .menu-container {
    position: absolute;
    top: 25vw;
    right: 7vw;
  }

  .menu {
    flex-direction: column;
  }

  .menu-item a {
    justify-content: flex-end;
  }

  .banner-image {
    width: 100%;
    height: 65vw;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(50%);
  }

  .main-logo {
    max-width: 10rem;
    height: 5 rem;
    top: 28vw;
  }

  .welcome-text {
    top: 45vw;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .order-button {
    top: 55vw;
  }

  .offer-container {
    flex-wrap: wrap;
  }

  .offer1-container,
  .offer2-container,
  .offer3-container {
    display: block;
    width: 20vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  @media (max-width: 700px) {
    .upper-nav-bar,
    .lower-nav-bar {
      font-size: 1.3rem;
    }

    .logo {
      max-width: 15rem;
      padding-left: 3rem;
    }

    .banner-image {
      width: 100%;
      height: 166vw;
      object-fit: cover;
      object-position: 50% 50%;
      filter: brightness(50%);
    }

    .main-logo {
      max-width: 20rem;
      height: 10 rem;
      top: 75vw;
    }

    .welcome-text {
      position: absolute;
      z-index: 1;
      top: 100vw;
    }

    .welcome-text h1 {
      font-size: 4rem;
      padding-left: 20vw;
      padding-right: 20vw;
      text-align: center;
    }

    .order-button {
      top: 150vw;
    }

    .offer-container {
      flex-direction: column;
    }

    .offer1-container,
    .offer2-container,
    .offer3-container {
      display: block;
      width: 60vw;
      padding-top: 10vw;
      padding-bottom: 10vw;
    }

    .bye-pic-container {
      width: 100%;
      height: 100vw;
    }

    .bye-pic {
      width: 100%;
      height: 150vw;
      object-fit: cover;
      object-position: 80% 80%;
    }
  }
}

.js-hide {
  display: none;
}

.js-show {
  display: block;
  background-color: red;
}
