html {
  font-size: 70%;
}

/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */

.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

/* checkbox és hambi menü elrejtése induláskor */
.menu-checkbox,
.toggle-label {
  display: none;
}

nav {
  position: fixed;
  margin-bottom: -8vw;
  width: 100%;
  z-index: 2;
}

.upper-nav-bar {
  display: grid;
  grid-template-columns: [start] 10vw [logostart] 55vw [logoend] 25vw [searchend] 10vw [end];
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 2rem;
  color: white;
  font-weight: normal;
}

.opening-hours {
  grid-column: logostart / logoend;
  text-align: left;
}

.account {
  grid-column: logoend / searchend;
  text-align: end;
}

.account a {
  text-decoration: none;
  color: white;
}

.lower-nav-bar {
  display: grid;
  grid-template-columns: [start] 10vw [logostart] 25vw [logoend] 51vw [searchstart] 4vw [searchend] 10vw [end];
  font-size: 2rem;
  color: white;
  font-weight: normal;
  border-top: 1px solid white;
}

.logo-container {
  grid-column: logostart / logoend;
}

.logo {
  max-width: 20rem;
  padding-top: 1.2rem;
  padding-left: 3.5rem;
  text-align: center;
}

.search-bar {
  grid-column: searchstart / searchend;
  padding-top: 2rem;
  text-align: end;
}

.search-bar a {
  color: white;
  justify-content: flex-end;
}

.menu-container {
  grid-column: logoend / searchstart;
  text-align: end;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding-left: 2rem;
}

.menu-item a {
  display: flex;
  text-decoration: none;
  color: white;
  height: 2rem;
}

.menu-item:hover {
  background-color: rgba(189, 198, 233, 0.56);
  transition: background-color 1s ease-out;
}

.darken1 {
  background-color: rgb(44, 112, 90);
}

.darken2 {
  background-color: rgb(23, 146, 107);
  opacity: 95%;
}


/* banner  */

.banner-image {
  width: 100%;
  max-height: auto;
  filter: brightness(50%);
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.main-logo {
  position: absolute;
  max-width: 20rem;
  height: 10rem;
  padding-top: 1rem;
  color: white;
  z-index: 1;
  top: 20vw;
}

.welcome-text {
  position: absolute;
  z-index: 1;
  top: 30vw;
}

.welcome-text h1 {
  font-size: 4rem;

  /* font-weight: lighter; */
  color: white;
}

.order-button {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 38vw;
  right: calc(50% - 125px);
  width: 250px;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: normal;
  font-variant: small-caps;
  border-radius: 40px;
  background-color: rgb(67, 236, 67);
  box-shadow: 0 0 22px -1px rgba(0, 0, 0, 0.75);
}

.order-button a {
  text-decoration: none;
  color: white;
}

/* középső rész */

h2 {
  text-align: center;
  color: black;
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 4vw;
  padding-bottom: 1vw;
}

.offer-title p {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: normal;
  padding: 0 20vw 2vw 20vw;
}

.offer-container {
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
}

.offer1-container,
.offer2-container,
.offer3-container {
  display: block;
  width: 20vw;
  background-color: white;
  margin: 2vw;
  text-align: center;

  /* box-shadow: 0, 0, 15px, 15px, red; */
}

.offer1-container > i,
.offer2-container > i,
.offer3-container > i {
  font-size: 4rem;
  padding-top: 5vw;
}

.offer1-container > h3,
.offer2-container > h3,
.offer3-container > h3 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(22, 119, 22);
}

.offer1-container > p,
.offer2-container > p,
.offer3-container > p {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(22, 119, 22);
  padding: 3vw;
}

/* záró rész */

.bye-pic-container {
  width: 100%;
  height: 20vw;
  overflow: hidden;
}

.bye-pic {
  max-width: 100%;
}

footer {
  padding-top: 2vw;
  padding-bottom: 10vw;
  text-align: center;
  margin-top: 20px;
}

/* responsivity */

/* @media (max-width: 1400px) {
  .toggle-label {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
  }

  .menu-checkbox:checked ~ .menu-container {
    display: block;
  }

  .menu-container {
    display: none;
  }
}

@media (max-width: 1000px) {
  .upper-nav-bar,
  .lower-nav-bar {
    font-size: 1.5rem;
  }

  .logo {
    max-width: 15rem;
    padding-left: 3rem;
  }
}
*/
